body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    height: 100px;
    width: 100%;
}

.container {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 10px !important;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 10px;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.floadRight {
    display: flex;
    bottom: -10px;
    position: absolute;
    float: right;
}

.floatContainerRight {
    float: right;
}

.floatContainerleft {
    float: left;
}
